<StackLayout>
    <label text="sampleTest" horizontalAlignement="center"></label>
    <Button text="sampleTest" (tap)="console.log(ok)" horizontalAlignement="center"></Button>
    <Button class="btn btn-primary btn-active fa" text="&#xf1f8; remote" width="120"
                height="40"></Button><Button class="btn btn-primary btn-active fa" text="&#xf1f8;" width="120"
                height="40"></Button><Button class="btn btn-primary btn-active fa" text="&#xf1f8; remote" width="120"
                height="40"></Button><Button class="btn btn-primary btn-active fa" text="&#xf1f8; remote" width="120"
                height="40"></Button><Button class="btn btn-primary btn-active fa" text="&#xf1f8; remote" width="120"
                height="40"></Button><Button class="btn btn-primary btn-active fa" text="&#xf1f8; remote" width="120"
                height="40"></Button>
    <Button class="btn btn-primary btn-active fa" text="&#xf067;" width="120" height="40"></Button>

</StackLayout>