<StackLayout width="100%" height="100%">
    
    <StackLayout #animatedBtn1 width="150" height="150" backgroundColor="red" (tap)="colorInstantChange()" horizontalAlignement="center">
        </StackLayout>
    
    <StackLayout #animatedBtn2 width="150" height="150" backgroundColor="red" (tap)="colorGradualChange()" horizontalAlignement="center">
        </StackLayout>
        
        <Image #nangular1 src="~/src/assets/nangular.png" stretch="none" class="img-rounded p-l-15 p-r-15 p-t-15" (tap)="slidingAnimation()"></Image>
        <Image #nangular2 src="~/src/assets/nangular.png" stretch="none" class="img-rounded p-l-15 p-r-15 p-t-15" (tap)="slidingAnimation()" 
        horizontalAlignement="center"></Image>
</StackLayout>