@import '~nativescript-theme-core/css/core.dark.css';

StackLayout {
background-color: blue;
width: 100%;
height: 100%;
}

.btn {
    color: blueviolet;
    background-color: burlywood;
    height: 200;
    width: 50;
}